<!DOCTYPE html>
<html>

<head>
  <title>change password</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/change_password" method="POST">
    <h3>change password</h3>

    <label for="oldPassword">old pass: </label>
    <input type="text" name="oldPassword" id="oldPassword" />

    <label for="newPassword">new pass: </label>
    <input type="text" name="newPassword" id="newPassword" />

    <label for="confirmPassword">confirm pass: </label>
    <input type="text" name="confirmPassword" id="confirmPassword" />

    <input type="submit" value="change" />
  </form>
  <% if (err) {
    %>
  <p><%= err %></p>
  <%  } %>
</body>

</html>